{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>
      {% block title %}CPI | Competitive Price Intelligence{% endblock %}
    </title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}" />
    {% block extra_css %}{% endblock %}
</head>
<body>
    {% block layout %}
    <!-- Default Layout for pages like Home -->
    <nav class="navbar flex-between" style="padding: 30px 5%;">
        <a href="{% url 'home' %}" class="brand">Competitive Price Intelligence</a>
        <ul class="nav-links">
            <li><a href="{% url 'home' %}">Home</a></li>
            {% if user.is_authenticated %}
                <li><a href="{% url 'dashboard' %}">Dashboard</a></li>
                <li><a href="{% url 'logout' %}" class="btn btn-primary" style="padding: 8px 20px;">Logout</a></li>
            {% else %}
                <li><a href="{% url 'login' %}">Sign in</a></li>
                <li><a href="{% url 'register' %}" class="btn btn-primary" style="padding: 8px 20px;">Sign up</a></li>
            {% endif %}
        </ul>
    </nav>
    <main>
        {% block content %}{% endblock %}
    </main>
    {% endblock %}
    
    {% block extra_js %}{% endblock %}
</body>
</html>